{
  "plugins": ["jest"],
  "env": {
      "node": true,
      "es6": true
  },
  "rules": {
      "no-console": "off",
      "import/extensions": "off"
  },
  "extends": [
      "airbnb/base",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:jest/recommended"
  ]
}